<tr>
    <td>
        {{this.id}}
    </td>
    <td>
        {{this.food_name}}
    </td>
    <td>
        {{this.allergens}}
    </td>
    <td>
	<button class="btn btn-default devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devour{{else}}Remake{{/if}}
	</button>
	<button class="btn btn-default delete" data-id="{{this.id}}">Delete</button>
    </td>
</tr>