<tr>
    <td>
        {{this.id}}
    </td>
    <td>
        {{this.food_name}}
    </td>
    <td>
        {{this.allergens}}
    </td>
    <td>
	<button class="btn btn-default eat" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}Remake{{else}}Eat{{/if}}
	</button>
	<button class="btn btn-default delete" data-id="{{this.id}}">Delete</button>
    </td>
</tr>